<div *ngIf="member" class="crew-detail">
  <h2>Detalhes do Membro - {{ member.nome }}</h2>
  <img [src]="member.avatarUrl || 'https://icons.veryicon.com/png/o/miscellaneous/rookie-official-icon-gallery/225-default-avatar.png'" alt="Avatar" width="150" />

   <dl class="details-list">
    <dt>ID</dt><dd>{{ member.id }}</dd>
    <dt>Nome</dt><dd>{{ member.nome }}</dd>
    <dt>Espécie</dt><dd>{{ member.especie }}</dd>
    <dt>Função</dt><dd>{{ member.funcao }}</dd>
    <dt>Estado</dt><dd>{{ member.estado }}</dd>
    <dt>{{ member.especie.startsWith('Humano') || member.especie.startsWith('Nórdico') ? 'Data de Nascimento:' : 'Data de Criação:' }}</dt>
    <dd>{{ member.dataNascimentoCriacao }}</dd>
    <dt>Setor/Departamento</dt><dd>{{ member.setor }}</dd>
    <dt>Contactos de Emergência</dt><dd>{{ member.contactosEmergencia }}</dd>
    <dt>Notas</dt><dd>{{ member.notas }}</dd>
  </dl>

  <div class="actions">
    <button (click)="goBack()">Voltar</button>
    <button (click)="goToEdit()">Editar</button>
    <button (click)="deleteMember()">Eliminar</button>
  </div>
</div>

<div class="toast" *ngIf="showToast">
   {{ toastMessage }}
</div>